<div th:fragment="footer">
    <footer class="bg-body-tertiary text-center text-lg-start">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.05);
             position: absolute;
             right: 0;
             bottom: 0;
             left: 0;
             padding: 20px;">
                © 2024 Copyright:
                <a class="text-body" href="https://github.com/AlenaAgeeva/job4j_todo">by Alena Ageeva</a>
        </nav>
    </footer>
</div>
