<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="/">TODO_List Application</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" th:href="@{/tasks/new}">New</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/done}">Done</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/create}">Add Task</a>
                </div>
            </div>
            <div class="d-flex" th:if="${user.name == 'Guest'}">
                <a class="btn btn-outline-info active me-3 " th:href="@{/users/register}">Sign Up</a>
                <a class="btn btn-outline-light active" th:href="@{/users/login}">Log In</a>
            </div>
            <div class="d-flex" th:if="${user.name != 'Guest'}">
                <a class="btn btn-info me-3" th:text="${user.name}"></a>
                <a class="btn btn-outline-warning active" th:href="@{/users/logout}">Log Out</a>
            </div>
        </div>
    </nav>
</div>

